In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("ENB2012_data.csv")

In [3]:
df1 = df.copy()
df2 = df.copy()

In [4]:
del df1['Y2']
del df2['Y1']

In [5]:
df1['y1_round'] = df1['Y1']/10.0
df1['Y1'] = df1['y1_round'].round().astype('int')
del df1['y1_round']

In [6]:
df1.head()

     X1     X2     X3      X4   X5  X6   X7  X8  Y1
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0   2
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0   2
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0   2
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0   2
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0   2

In [7]:
df2['y2_round'] = df2['Y2']/10.0
df2['Y2'] = df2['y2_round'].round().astype('int')
del df2['y2_round']

In [8]:
df2.head()

     X1     X2     X3      X4   X5  X6   X7  X8  Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0   2
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0   2
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0   2
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0   2
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0   3

In [9]:
df1.to_csv('energy1.csv', index = False)
df2.to_csv('energy2.csv', index = False)