In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data_User_Modeling_Dataset_Hamdi Tolga KAHRAMAN.csv')

In [3]:
df.head()

    STG   SCG   STR   LPR   PEG       UNS
0  0.00  0.00  0.00  0.00  0.00  very_low
1  0.08  0.08  0.10  0.24  0.90      High
2  0.06  0.06  0.05  0.25  0.33       Low
3  0.10  0.10  0.15  0.65  0.30    Middle
4  0.08  0.08  0.08  0.98  0.24       Low

In [4]:
list(df.columns)

['STG', 'SCG', 'STR', 'LPR', 'PEG', ' UNS']

In [5]:
from sklearn import preprocessing

In [6]:
le = preprocessing.LabelEncoder()
le.fit(list(df[' UNS']))
print(list(le.classes_))
df['UNS'] = le.transform(list(df[' UNS']))
del df[' UNS']

['High', 'Low', 'Middle', 'very_low']

In [7]:
df.head()

    STG   SCG   STR   LPR   PEG  UNS
0  0.00  0.00  0.00  0.00  0.00    3
1  0.08  0.08  0.10  0.24  0.90    0
2  0.06  0.06  0.05  0.25  0.33    1
3  0.10  0.10  0.15  0.65  0.30    2
4  0.08  0.08  0.08  0.98  0.24    1

In [8]:
df.to_csv('user-knowledge.csv', index = False)